@import "../abstracts/variables";

.header {
    box-sizing: border-box;
    padding: 20px 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: $background;

    @media(min-width: $bp-md) {  
        padding-top: 58px;
        padding-bottom: 48px;
    }

    @media(min-width: $bp-lg) {
        max-width: 100%;
        padding-top: 58px;
        padding-bottom: 48px;
    }
}

.header-wrapper {
    @include flex(row, space-between);
}