@import "../abstracts/variables";
@import "../abstracts/mixins";

.clients__title {
    border-top: $primary-black 1px solid;
    padding: 30px 20px;
    text-align: center;
    color: $primary-black;
    font-family: Gilroy;
    font-size: 45px;
    font-weight: 300;
    text-transform: uppercase;

    @media (min-width: $bp-md) {
        padding: 30px 30px;
        font-size: 100px;
        letter-spacing: 6px;
    }

    @media (min-width: 1900px) {
        font-size: 120px;
        letter-spacing: 8.48px;
    }
}

.clients__container {
    padding: 0 30px;

    @media (min-width: $bp-lg) {
        padding: 20px 30px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(auto, 1fr);
        justify-content: center;
        align-items: stretch;
    }
}

.clients__section {
    padding: 40px 0;
    @include flex (column, space-between, flex-start, 30px);
    position: relative;

    &:nth-child(n+2)::before {
        width: 100%;
        content: '';
        position: absolute;
        border-bottom: 1px solid #252525;
        top: 0;
        right: 0;

        @media (min-width: $bp-lg) {
            border-bottom: none;
        }
    }

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(4),
    &:nth-child(5) {
        @media (min-width: $bp-lg) {
            border-right: 1px solid $black;
        }
    }

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
        @media (min-width: $bp-lg) {
            border-bottom: 1px solid $black;
        }
    }

    @media (min-width: $bp-lg) {
        padding: 30px;
    }
}

.clients__second-title {
    color: $secondary-black;
    font-family: Gilroy;
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;

    @media (min-width: $bp-md) {
        font-size: 35px;
    }

    @media (min-width: $bp-lg) {
        font-size: 38px;
        line-height: 44px;
    }
}

.clients__text {
    color: $black;
    font-family: Inter;
    font-size: 20px;
    line-height: 30px;
}

.clients__block {
    @include flex (row, center, center, 20px);
}

.clients__info {
    @include flex (column, center, flex-start, 10px);
}

.clients__image {
    border-radius: 50px;
}

.clients__name,
.clients__position {
    color: $black;
    font-family: Inter;
    font-size: 20px;
    font-weight: 800;
    line-height: 20px; 
}

.clients__position {
    font-size: 20px;
    font-weight: 400;
}