@import "../abstracts/variables";
@import "../components/buttons";
@import "../base/typography";

.our-team__title {
    color: $primary-black;
    text-align: center;
    font-family: 'Gilroy';
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    margin: 30px auto;
    max-width: 100%;
}

@media (min-width: $bp-md) {
    .our-team__title {
        font-size: 100px;
        letter-spacing: 6px;
    }
}

@media (min-width: 1900px) {
    .our-team__title {
        font-size: 120px;
        letter-spacing: 8.48px;
    }
}

.our-team {
    width: 100%;
    padding: 0 30px;
    border-top: 1px solid $primary-black;
    border-bottom: 1px solid $primary-black;

    &__grid {
        display: grid;
        justify-items: center;
        grid-template-rows: auto;
        grid-template-columns: 1fr;
    }

    .grid__item-team {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;

        &:nth-child(1) {
            & .grid__image {
                background-image: url("../../img/team-member-1.jpg");
                aspect-ratio: 5 / 10;
                background-color: lightgray;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: top 50% left 50%;
            }
        }

        &:nth-child(2) {
            & .grid__image {
                background-image: url("../../img/team-member-2.jpg");
                aspect-ratio: 5 / 10;
                background-color: lightgray;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: top 50% left 50%;
            }
        }

        &:nth-child(3) {
            & .grid__image {
                background-image: url("../../img/team-member-3.jpg");
                aspect-ratio: 5 / 10;
                background-color: lightgray;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: top 50% left 50%;
            }
        }

        &:nth-child(4) {
            & .grid__image {
                background-image: url("../../img/team-member-4.jpg");
                aspect-ratio: 5 / 10;
                background-color: lightgray;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: top 50% left 50%;
            }
        }

        &:nth-child(5) {
            & .grid__image {
                background-image: url("../../img/team-member-5.jpg");
                aspect-ratio: 5 / 10;
                background-color: lightgray;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: top 50% left 50%;
            }
        }

        &:nth-child(6) {
            & .grid__image {
                background-image: url("../../img/team-member-6.jpg");
                aspect-ratio: 5 / 10;
                background-color: lightgray;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: top 50% left 50%;
            }
        }
    }

    .grid__image {
        height: 507px;
        width: 100%;
        margin: 15px 20px;
        filter: grayscale(100%);
    }

    .wrapper__links {
        margin-bottom: 20px;
    }

    @media (min-width: $bp-md) {
        &__grid {
            grid-template-rows: repeat(4, 1fr);
            grid-template-columns: repeat(2, 1fr);
            //margin-top: 50px;
            column-gap: 40px;
            max-height: 2250px;
        }

        .wrapper__links {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            gap: 10px;
        }

        .grid__item-team {
            align-items: flex-start;
        }

        .grid__item-team:last-child {
            justify-self: flex-start;
            grid-column: 1 / 3;
        }

        .grid__join-description {
            text-align: left;
        }

        .grid__image {
            height: 507px;
            width: 100%;
            margin: 15px 0;
            filter: grayscale(100%);
        }

        .grid__name {
            font-size: 24px;
        }

        .grid {
            &__join-title {
                margin-bottom: 30px;
            }

            &__join-description {
                margin-bottom: -30px;
            }
        }

    }

    @media (min-width: $bp-lg) {
        &__grid {
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(4, 1fr);
            margin-top: 50px;
            column-gap: 40px;
            place-items: center;
        }

        .wrapper__links {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            gap: 10px;
        }

        .grid__item-team:last-child {
            align-content: center;
            grid-column: 3 / 5;

        }

        .grid__name {
            font-size: 22px;
        }
    }
}

.grid {
    &__join-title {
        color: $secondary-black;
        font-family: 'Gilroy-Regular', sans-serif;
        font-size: 30px;
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    &__join-description {
        color: $secondary-black;
        text-align: center;
        font-family: 'Gilroy-Bold', sans-serif;
        font-size: 40px;
        text-transform: uppercase;
        margin-bottom: -15px;
    }
}

.grid__name {
    color: $secondary-black;
    text-align: center;
    font-family: 'Gilroy', sans-serif;
    font-size: 22px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 5px;
    padding-top: 20px;
}

.grid_position {
    color: $secondary-black;
    text-align: center;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 15px;
}