@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../components/buttons";

.selected-work__title {
    color: $primary-black;
    text-align: center;
    font-family: Gilroy;
    font-size: 50px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 30px auto;

    @media (min-width: $bp-md) {
        font-size: 100px;
        letter-spacing: 6px;
    }

    @media (min-width: 1900px) {
        font-size: 120px;
        letter-spacing: 8.48px;
    }
}

.selected-work {
    width: auto;

    &__grid {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        gap: 20px;
        margin: 30px 20px;
    }

    @media (min-width: $bp-md) {

        &:nth-child(3) {
            display: flex;
            flex-direction: column;
        }

        &__title {
            font-size: 120px;
            font-weight: 300;
            letter-spacing: 6px;
            padding: 0 50px;
        }

        &__grid {
            display: grid;
            grid-template-rows: repeat(6, minmax(0.5fr, 1fr));
            grid-template-columns: 1fr;
            gap: 20px;
            margin: 30px 20px;
        }
    }

    @media (min-width: $bp-lg) {
        .grid__item {

            &:nth-child(1) {
                order: 2;
            }

            &:nth-child(2) {
                order: 3;
            }

            &:nth-child(3) {
                height: 100%;
                order: 1;
                justify-self: flex-end;
            }

            &:nth-child(4) {
                order: 4;
            }

            &:nth-child(5) {
                order: 5;
            }

            &:nth-child(6) {
                order: 6;
                height: 100%;
                justify-self: flex-end;
            }
        }

        &__caption {
            color: $black;
            height: 43px;
            font-family: 'Gilroy-Bold', sans-serif;
            font-size: 35px;
            text-transform: uppercase;
            padding: 20px;
            margin-bottom: 30px;
        }

        .item__wrapper {
            flex-direction: column;
            height: 100%;
        }

        &__title {
            letter-spacing: 8.48px;
            margin: 70px 0 50px 0;
        }

        &__grid {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 20px;
        }

        .item__button {
            height: 50%;

            &:nth-child(2) {
                display: flex;
                align-items: flex-end;
            }
        }
    }
}

.grid__item {
    width: 100%;

    &:nth-child(1) {
        background-image: url("../../img/trinity-work-1.jpg");
        aspect-ratio: 9 / 10;
        background-color: lightgray;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top 50% left 50%;
    }

    &:nth-child(2) {
        background-image: url("../../img/trinity-work-2.jpg");
        aspect-ratio: 9 / 10;
        background-color: lightgray;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top 50% left 50%;
    }

    &:nth-child(3) {
        display: flex;
        flex-direction: column;
        height: 200px;
        margin-bottom: 20px;
    }

    &:nth-child(4) {
        background-image: url("../../img/morpheus-work-1.jpg");
        aspect-ratio: 9 / 10;
        background-color: lightgray;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top 50% left 50%;
    }

    &:nth-child(5) {
        background-image: url("../../img/morpheus-work-2.jpg");
        aspect-ratio: 9 / 10;
        background-color: lightgray;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top 50% left 50%;
    }

    &:nth-child(6) {
        display: flex;
        flex-direction: column;
        height: 200px;
        margin-bottom: 20px;
    }
}

.item {
    &__caption {
        color: $black;
        height: 43px;
        font-family: 'Gilroy-Bold', sans-serif;
        font-size: 35px;
        text-transform: uppercase;
        padding: 20px;
        margin-bottom: 30px;
    }
}

.item__wrapper {
    @include flex (row, flex-start);
    align-content: space-between;
    height: 100%;
    padding-top: 20px;
    flex-wrap: wrap;
    width: 100%;

    @media (min-width: 477px) {
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;
    }
}

.item__button {
    margin-left: 20px;

    &:nth-child(2) {
        align-self: flex-end;
        margin-right: 20px;
        margin-bottom: 20px;
        margin-left: auto;
    }
}